<div class="horavotbora">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Александър Дянов</mat-card-title>
      <mat-card-subtitle>ОУ "Александър Георгиев - Коджакафалията"</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/snimkaNaMen.jpg" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    Аз се казвам Александър Дянов. Моите хобита са астрономия, web програмиране, баскетбол и каране на скейтборд. Също така обичам да изработвам от подръчни и отпадъчни материали най-различни неща (функциониращ микроскоп, управляема лодка и други).
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Живомира Дичева</mat-card-title>
      <mat-card-subtitle>ОУ "Александър Георгиев - Коджакафалията"</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/SnimkaNaNeNaMen.png" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    Аз съм  Живомира Дичева. Харесва ми да програмирам на scratch и играя баскетбол.
  </mat-card-content>
</mat-card>
</div>