.example-card {
  width: 42%;
  margin-bottom: 8px;
  padding: 20px;
}

.mat-card {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

.horavotbora {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5vh;
  padding: 20px;
  height: 80vh;
  width: auto;
}

.mat-card-title-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.mat-card-xl-image {
  object-fit: cover;
  height: 35vh;
  width: auto;
  border-radius: 5px;
  margin-left: 5vh;
  margin-top: 1vh;
}
.mat-card-image{
  max-height: 25vh;
}

.mat-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5vh;
  margin-top: 6vh;
}
