<div class="centered">
  <a style="cursor: pointer;" [routerLink]="[id]">
    <mat-card class="example-card-small">
      <mat-card-header class="aliux">
        <mat-card-title matTooltip="Подробна информация">
          <a href={{bird.infoLink}}>{{bird.name}}</a>
        </mat-card-title>
        <mat-card-subtitle> <strong>Разред: </strong>{{bird.species}}</mat-card-subtitle>
        <mat-card-subtitle><strong>Местообитание: </strong>{{bird.area}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="bird.image" alt="{{ bird.name }}">
      <!-- <mat-card-content>
      <p>{{bird.description}}</p>
    </mat-card-content> -->
      <!-- <mat-card-actions>
      <div class="display-flex">
        <button mat-button class="like">LIKE</button>
        <button mat-button class="like">SHARE</button>
      </div>
    </mat-card-actions> -->
    </mat-card>
  </a>
</div>