<mat-toolbar>
  <div class="container-birds">
    

    <div class="cursor-pointer" (click)="onHomePage()">
      <img src="./../assets/pictures/webicon2.png" class="small-img" (click)="onHomePage()">
      <span class="title-big" (click)="onHomePage()">По следите на птиците</span>
    </div>


    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>

    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>

    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>

    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div>

    <span class="example-spacer"></span>

    <!-- <div class="search-container">
      <mat-form-field appearance="outline">
        <mat-label class="bird-search">Изберете разред</mat-label>
        <mat-select disableRipple>
          <ng-container *ngFor="let sp of activeSpecies">
            <mat-option class="bird-search" [value]="sp" (click)="$event.stopPropagation()">
              {{sp}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Изберете име</mat-label>
        <mat-select disableRipple>
          <ng-container *ngFor="let name of activeNames">
            <mat-option class="bird-search" [value]="name" (click)="$event.stopPropagation()">
              {{name}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div> -->

    <button mat-button [matMenuTriggerFor]="animals" class="menu-za-proekta">За проекта</button>
    <mat-menu #animals="matMenu">
      <button mat-menu-item  (click)="onForUs()">За нас</button>
      <button mat-menu-item  (click)="onForPictures()">За автора на снимките</button>
      <button mat-menu-item  (click)="onForViapontica()">Via Pontica</button>
    </mat-menu>

    
    



  </div>
</mat-toolbar>

<!-- <app-bird-list></app-bird-list> -->
<!-- <router-outlet></router-outlet> -->
<router-outlet></router-outlet>