<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>За автора на снимките</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>Всички фотографии на нашият сайт са любителски, авторски и досега не са публикувани никъде. За заснемането им е използвана фотографска техника на SONY от най-висок клас. Отношението на фотографът и познанията му за животинският свят личат от всеки кадър. Той поиска да остане анонимен, но ние искаме да изразим отново нашата признателност, тъй като без да ни предостави тези уникално кадри, нашият проект нямаше да е същият! </h3>
      <mat-divider></mat-divider>
    </mat-card-content>
    
  </mat-card>