<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>Виа Понтика</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>Ние сме бургазлии и сме неразделно свързани с пътя на миграция на птиците от Европа към Африка. Виа Понтика минава през територията на България — над Странджа и по бреговата ивица на Черно море и Бургас.
        Този маршрут следват много видове грабливи, водолюбиви и пойни птици, измежду които 78% от всички бели щъркели и цялата популация на розов пеликан в Европа, както и изключително редките видове царски орел, египетски и белоглав лешояд.  Един от пунктовете по Виа Понтика, където мигриращите птици традиционно спират да почиват, а някои и остават да зимуват и гнездят, са именно нашите Бургаските влажни зони. През 2001 година на южния бряг на езерото в специално укритие е изграден пункт, където орнитолози от БАН и Българското дружество за защита на птиците и цяла Европа се стичат, за да наблюдават птиците.</h3>
      <mat-divider></mat-divider>
    </mat-card-content>
    
  </mat-card>