.mat-card-image {
    max-width: 30vw;
    height: auto;
    margin: 0px;
    border-radius: 5px;
}

.mat-card {
    height: -webkit-fill-available;
}

.mat-card-image {
    float: right;
    margin: 10px;
    margin-left: 20px;
}

h3 {
    text-align: justify;
    font-size: 1.5em;
}